.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-title-color;
  margin-bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $main-title-color;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
